/* Espaciado y alineación de los botones dentro del footer */
.custom-confirm-dialog .p-confirm-dialog-footer {
    display: flex;
    justify-content: center; /* Centra los botones en el pie del diálogo */
    gap: 20px; /* Aumenta el espacio entre los botones */
    padding: 15px; /* Ajusta el padding en el pie */
  }
  
  /* Botones más grandes y con un espacio adicional */
  .custom-confirm-dialog .p-button {
    padding: 0.5rem 1rem; /* Aumenta el tamaño de los botones */
    font-size: 1rem; /* Aumenta el tamaño del texto en los botones */
    margin: 0 10px; /* Añade un margen extra entre los botones */
  }
  
  /* Estilo para el encabezado del diálogo */
  .custom-confirm-dialog .p-dialog-header {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center; /* Centra el texto del encabezado */
  }
  
  /* Personaliza el cuadro del diálogo (opcional) */
  .custom-confirm-dialog .p-dialog {
    border-radius: 10px;
    background-color: #f5f5f5;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1); /* Sombra suave */
  }
  
  /* Añadir un color más suave a los botones al pasar el ratón */
  .custom-confirm-dialog .p-button:focus {
    background-color: #009688;
    color: white;
  }
  
  .custom-confirm-dialog .p-button:active {
    background-color: #00796b;
  }

 /* Estilos para los inputs del modal */
.p-field .p-inputtext,
.p-field .p-password input,
.p-field .p-inputnumber-input,
.p-field .p-calendar .p-inputtext,
.p-field .p-dropdown {
  border: 1px solid #1c1d1f;
  border-radius: 6px;
  width: 100%;
}

/* Opcional: Estilo para el hover */
.p-field .p-inputtext:hover,
.p-field .p-password input:hover,
.p-field .p-inputnumber-input:hover,
.p-field .p-calendar .p-inputtext:hover,
.p-field .p-dropdown:hover {
  border-color: #2196F3;
}

/* Opcional: Estilo para el focus */
.p-field .p-inputtext:focus,
.p-field .p-password input:focus,
.p-field .p-inputnumber-input:focus,
.p-field .p-calendar .p-inputtext:focus,
.p-field .p-dropdown:focus {
  border-color: #2196F3;
  box-shadow: 0 0 0 1px #2196F3;
}
  